.selalign{
    border: 2px solid black;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 2em;
    width: 35em;
    height: 3.5em;
}
.labels{
    margin-left: 37.5em;
    margin-bottom: -2em;
}
.bgground{
    content: "";
    background-image: url("./images/background1.jpg");
    position: absolute;
    top:16.5em;
    bottom: 0;
    left: 0;
    right: 0;
    height: 130%;
    z-index: -1;
    opacity: 0.5;
}