.userdetail{
    
}
.userdetail h1{
    font-size: 4em;
    text-align: center;
}
.navig{
    margin-bottom: 4em;
    border: 2px solid violet;
    background-color: blueviolet;
}
table,th,td{
    border: 1px solid aquamarine;
    border-collapse: collapse;
    font-size: larger;
    width: 40em;
    height: 2em;
}
table caption{
    font-size: 2em;
}
table td{
    text-align: center;
}
tr:nth-child(even) {
    background-color: #D6EEEE;
}
.hotels,.trains,.buses,.flights,.downloads{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4em;
}
.bgground{
    content: "";
    background-image: url("./images/background1.jpg");
    position: absolute;
    top:16.5em;
    bottom: 0;
    left: 0;
    right: 0;
    height: 320%;
    z-index: -1;
    opacity: 0.3;
}