.Title{
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-gap: 1em;
    height: 10em;
    width: 100%;
    
}
.logo{
    height: 10em;
    width: 10em;
}
.logo img{
    height: 10em;
    width: 10em;   
}
.heading{
    height:2em;
    display: flex;
    font-size: 5em;
    align-items: center;
    justify-content: center;
}
.navbar{
    width: 100%;
    height: 3em;
    margin-top: 2em;
    display: flex;
    margin-bottom: 2em;
    background-color: rgb(44, 19, 19);
    color: white;
}
.menubar{
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size: 1.2em;
}
.menuitem{
    padding-right: 6px;
}
.menuitem a{
    padding-right: 5em;
    text-decoration: none;
}
.menuitem a:hover{
    border: 1px solid gray;
}
.btn{
    height: 3em;
    width: 6em;
    border-radius: 1em;
}
.btn:hover{
    color:white;
    background-color: black;
}
.btns{
    margin-left: 40em;
}
#btn1,#btn2{
    z-index: 1;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 46em;
    width: 100%;
}
.Bookings h1{
    text-align: center;
}
.Bookings p{
    background-color: antiquewhite;
    font-size: 2em;
    text-align: justify;
}
.mybookings{
    display: none;
}
.mybookings h1{
    text-align: center;
}
.mybookings p{
    background-color: aliceblue;
    font-size: 2em;
    text-align: justify;
}
.Contacts{
    display: none;
}
.Contacts h1{
    text-align: center;
}
.Contacts ul{
    background-color: antiquewhite;
    font-size: 2em;
    text-align: justify;
}
.services{
    height: 46em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.serviceitem{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: aliceblue;
}
.serviceitem:hover{
    border: 0.2em solid aliceblue;
    border-radius: 0.2em;
    opacity: 0.9;
    font-size: 2.8em;
    cursor: pointer;
}
#serviceitem1{
    background-color: red;
}
#serviceitem2{
    background-color: darkblue;
}
#serviceitem3{
    background-color: yellowgreen;
}
#serviceitem4{
    background-color: green;
}
#serviceitem5{
    background-color: crimson;
}
#serviceitem6{
    background-color: orchid;
}
#serviceitem7{
    background-color: purple;
}
#serviceitem8{
    background-color: brown;
}
.bigimg{
    display: block;
}
#bigimg{
    display: block;
    z-index: 0;
}
.bigimg img{
    height: 46em;
    width: 52em;
}
.login{
    display: none;  
}
.signup{
    display: none;
}
.title2{
    text-align: center;
    font-size: 3em;
}
.response{
    border: 2px solid black;
    border-radius: 0.5em;
    height: 3em;
    display: block;
    margin: 3em auto;
    width: 35em;
}
#fetcherservice1,#fetcherservice2,#fetcherservice3,#fetcherservice4,#fetcherservice5,#fetcherservice6,#fetcherservice7,#fetcherservice8{
    display: none;
    color: black;
    background-color: antiquewhite;
    height: 46em;
}
#fetcherservice1 h2{
    text-align: center;
}
#fetcherservice2 h2{
    text-align: center;
}
#fetcherservice3 h2{
    text-align: center;
}
#fetcherservice4 h2{
    text-align: center;
}
#fetcherservice5 h2{
    text-align: center;
}
#fetcherservice6 h2{
    text-align: center;
}
#fetcherservice7 h2{
    text-align: center;
}
#fetcherservice8 h2{
    text-align: center;
}
#fetcherservice1 ul{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#fetcherservice1 ul li{
    text-decoration: none;
    text-align: center;
    height: 2em;
    border: 2px solid black;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: aquamarine;
}
#fetcherservice1 ul li:hover{
    background-color: aqua;
    height: 2.1em;
}
#fetcherservice2{
    display: none;
    color: black;
}
#fetcherservice2 ul{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
#fetcherservice2 p{
    font-size: 1.2em;
    padding: 1em;
}
#fetcherservice2 ul li{
    text-decoration: none;
    text-align: center;
    height: 2em;
    border: 2px solid black;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: aquamarine;
}
#fetcherservice2 ul li:hover{
    background-color: aqua;
    height: 2.1em;
}
#fetcherservice3{
    display: none;
    color: black;
}
#fetcherservice3 ul{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
#fetcherservice3 ul li{
    text-decoration: none;
    text-align: center;
    height: 5em;
    border: 2px solid black;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: aquamarine;
}
#fetcherservice3 ul li:hover{
    background-color: aqua;
    border: 2px solid magenta;
}
#fetcherservice4{
    display: none;
    color: black;
}
#fetcherservice4 ul{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
#fetcherservice4 ul li{
    text-decoration: none;
    text-align: center;
    height: 10em;
    border: 2px solid black;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: aquamarine;
}
#fetcherservice4 ul li:hover{
    background-color: aqua;
    border: 2px solid magenta;
}
#fetcherservice5{
    display: none;
    color: black;
}
#fetcherservice5 ul{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
#fetcherservice5 ul li{
    text-decoration: none;
    text-align: center;
    height: 9em;
    border: 2px solid black;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: aquamarine;
}
#fetcherservice5 ul li:hover{
    background-color: aqua;
    border: 2px solid magenta;
}
#fetcherservice6{
    display: none;
    color: black;
}
#fetcherservice6 ul{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
#fetcherservice6 ul li{
    text-decoration: none;
    text-align: center;
    height: 3em;
    border: 2px solid black;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: aquamarine;
}
#fetcherservice6 ul li:hover{
    background-color: aqua;
    border: 2px solid magenta;
}
#fetcherservice7 ul{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#fetcherservice7 ul li{
    text-decoration: none;
    text-align: center;
    height: 2em;
    border: 2px solid black;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: aquamarine;
}
#fetcherservice7 ul li:hover{
    background-color: aqua;
    height: 2.1em;
}
#fetcherservice8 ul{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#fetcherservice8 ul li{
    text-decoration: none;
    text-align: center;
    height: 2em;
    border: 2px solid black;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: aquamarine;
}
#fetcherservice8 ul li:hover{
    background-color: aqua;
    height: 2.1em;
}
.packages{
    content: " ";
    margin-top: 2em;
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-image: url("./images/packages2.jpg");
    opacity: 1;
    z-index: -1;
}
.lochead:hover{
    opacity: 0.8;
    color: brown;
    cursor: pointer;
}
.packages:hover,.locations:hover{
    border: 1em solid maroon;
    opacity: 0.8;
    color: gray;
    cursor: pointer;
}
.packcontent{
    z-index: 300;
    opacity: 1;
}
.packcontent h1{
    font-size: 5em;
}
#packimg1{
    height: 40em;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
#packageInfo{
    display: none;
    background-color: antiquewhite
}
#packageInfo h2{
    text-align: center;
}
.offer1,.offer2,.offer3,.offer4,.offer5,.offer6{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.locations{
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
.lochead{
    margin-top: 0.5em;
    font-size: 5em;
    display: flex;
    justify-content: center;
}
.locations img{
    height: 40em;
    width: 100%;
}
#locationInfo{
    display: none;
}
#locationInfo h2{
    text-align: center;
}
.location1,.location2,.location3,.location4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.location1 img{
    height: 40em;
    width: 90%;
}
.domains{
    margin-top: 2em;
    height: 30em;
   display: grid;
   grid-template-columns: 1fr 1fr; 
}
.domainhead{
    margin-top: 0.5em;
    font-size: 5em;
    display: flex;
    justify-content: center;
}
.domaincaption button{
    margin-left: 25em;
}
.train{
    height: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./images/train1.png');
}
.train img{
    height: 30em;
}
.train:hover{
    opacity: 0.8;
    border: 0.5em solid maroon;
}
.train h1{
    color: white;
    font-size: 5em;
}
#TrainInfo{
    display: none;
}
#TrainInfo h1{
    font-size: 4em;
    text-align: center;
}
#TrainInfo h2{
    text-align: center;
}
.train1,.train2,.train3,.train4,.train5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
#FlightInfo{
    display: none;
}
#FlightInfo h1{
    font-size: 4em;
    text-align: center;
}
#FlightInfo h2{
    text-align: center;
}
.flight1,.flight2,.flight3,.flight4,.flight{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.airplane{
    content: " ";
    height: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./images/airplane.png');
}
.airplane:hover{
    opacity: 0.8;
    border: 0.5em solid maroon;
}
.airplane img{
    height: 30em;
}
.airplane h1{
    color: white;
    font-size: 5em;
}
.aboutus{
    margin-top: 2em;
    height: 30em;
    background-color: rgba(19, 16, 16, 0.916);
    color: aliceblue;
}
.aboutus h2{
    text-align: center;
}
.copyright{
    text-align: center;
}